<html class="no-js" lang="">

{% include 'lucky/head.html.twig' %}

<body>

{% include 'lucky/Header.html.twig' %}
{% if article %}



    <div class="container">
        <div class="single-project-slider">
            <div class="owl-carousel single-slider">
                <div><img class="img-responsive center-block" src="../{{article.images  }}" alt="slider"></div>

            </div>
            <div class="single-controls">
                <span class="arrow-left"><a class="prev-slide" href="javascript:void(0)"><i class="pe-7s-angle-left"></i></a></span>
                <span class="arrow-right"><a class="next-slide" href="javascript:void(0)"><i class="pe-7s-angle-right"></i></a></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="single-portfolio-wrapper">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h1>STYLE FASHION</h1>
                    <span class="info">{{ article.title }}</span>
                    {{article.content | raw }}
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                    <div class="project-information">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Date:</td>
                                <td>{{ article.date }}</td>
                            </tr>
                            <tr>
                                <td>Client:</td>
                                <td>Envato</td>
                            </tr>
                            <tr>
                                <td>Category:</td>
                                <td>Fashion Design</td>
                            </tr>

                            <tr>
                                <td>Share:</td>
                                <td>
                                    <ul class="social-buttons">
                                        <li><a href="javasript:void(0);" data-social="fb"><i class="iconmoon-facebook"></i></a></li>
                                        <li>
                                            <a href="javascript:void(0);" data-social="tw"> <i class="iconmoon-twitter"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0);" data-social="pt"><i class="iconmoon-pinterest"></i></a></li>
                                        <li><a href="javascript:void(0);" data-social="ln"><i class="iconmoon-linkedin"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% include 'lucky/footer.html.twig' %}
</body>

{% include 'lucky/scripts.html.twig' %}

</html>